<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/Selenium/SeleniumMaven">
        <classes>
            <class name="com.qa.testcases.ContactsPageTestCases.ContactsPageTest">
                <methods>
                    <include name="verifyContactCreation"/>
                </methods>
            </class>
            <class name="com.qa.testcases.HomePageTestCases.HomePageTest">
                <methods>
                    <include name="verifyHomePageTitle"/>
                </methods>
            </class>
            <class name="com.qa.testcases.LoginTestCases.LoginTest">
                <methods>
                    <include name="verifyLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>